<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 autoReload="true"
 throwConfigExceptions="true"
 internalLogFile=".\internal_logs\internallog.txt">
	<targets>
		<target
			name="LogFileOutput"
			xsi:type="File"
			layout="${longdate} [${threadid:padding=5}] ${uppercase:${level}} ${message}"
			fileName="${basedir}\logs\log_${date:format=yyyyMMdd}.log"
			encoding="UTF-8"
			archiveFileName="${basedir}/logs/archives/archive.{#}.log"
			archiveEvery="Day"
			archiveNumbering="Rolling"
			maxArchiveFiles="10"
			/>
		<target
			name="TraceOutput"
			xsi:type="Trace"
			layout="${longdate} [${threadid:padding=5}] ${uppercase:${level}} ${message}"
			/>
	</targets>
	<rules>
		<!-- logLevel設定 -->
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="LogFileOutput" />
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="TraceOutput" />
	</rules>
</nlog>
